@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
}

* {
    box-sizing: border-box;
}
.Home__empty {
    font-size: 14px;
    line-height: 14px;
    color: rgba(255,255,255,.45);
}